<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="recipeName">Name</label>
            <input type="text" id="recipeName" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="recipeImagePath">Image URL</label>
            <input type="text" id="recipeImagePath" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="imagePath.value">
        <div class="col-sm-12">
          <img [src]="imagePath.value" alt="Recipe Image" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="recipeDescription">Description</label>
            <textarea id="recipeDescription" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          <div class="row ingredient-row" *ngFor="let ingredient of getIngredients(); let index = index" [formGroupName]="index">
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(index)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary" (click)="onAddIngredient()">Add ingredient</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success recipe-edit-button" [disabled]="recipeForm.invalid">Save</button>
          <button type="button" class="btn btn-danger recipe-edit-button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
