<ng-template appPlaceholder></ng-template>
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="spinner-container" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="email" class="form-control" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <div>
        <button type="submit" class="btn btn-primary mr-2" [disabled]="authForm.invalid">Login</button>
      </div>
    </form>
  </div>
</div>
