<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipe</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onAddToShoppingList()">Add to Shopping list</a>
        <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
        <a class="dropdown-item" (click)="onDeleteRecipe()">Delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
