<a class="list-group-item clearfix" routerLinkActive="active" [routerLink]="[index]">
  <div class="float-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="float-right">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" id="recipeImage">
  </span>
</a>
