<div class="row top-row">
  <div class="col-sm-12">
    <button class="btn btn-success" (click)="onNewRecipe()">Add a new recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <app-recipe-item *ngFor="let recipe of recipes"
                     [recipe]="recipe"
                     [index]="recipe.id">
    </app-recipe-item>
  </div>
</div>
