<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="shoppingEditForm" (ngSubmit)="onSaveIngredient()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" formControlName="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success shopping-edit-button" type="submit" [disabled]="shoppingEditForm.invalid">{{ getAddOrEditButtonName() }}</button>
          <button class="btn btn-primary shopping-edit-button" type="button" (click)="onClear()">Clear selection</button>
          <button class="btn btn-danger shopping-edit-button" type="button" *ngIf="editMode" (click)="onDelete()">Delete item</button>
        </div>
      </div>
    </form>
  </div>
</div>
